# Unless otherwise noted, replace all settings w/in curly braces with values
# suited to your own environment.
<VirtualHost *:80>
    ServerName  microframework.example.sonno.dev
    ServerAdmin {youraddress@you.com}

    DocumentRoot {your/path/to}/examples/microframework/www
    <Directory {your/path/to}/examples/microframework/www>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog {your/path/to/error.log}

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    # Main handler rewrite
    # Do not replace values inside curly braces {} w/in the Location tag!!!
    <Location />
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f 
        RewriteCond %{REQUEST_FILENAME} !-d 
        RewriteRule !\.(js|ico|gif|jpg|png|css)$ /index.php
    </Location>
</VirtualHost>