{% extends 'layout.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section>
        <p>This is the home page.</p>
        <p>Read more <a href="/about">about this example</a> or <a href="/contact">send us a message</a>.
    </section>
{% endblock %}
